```
# Compiled Python files
*.pyc
__pycache__/

# Logs
*.log
server.log

# Environment
.env
.env.local
*.env.*

# Dependencies
.venv/
venv/
node_modules/

# Editors
.vscode/
.idea/

# Build artifacts
dist/
build/
target/

# Cache
.mypy_cache/
.pytest_cache/
```